# Rohit Sharma Career Data Transformation

## Import Libraries

In [1]:
import pandas as pd

## Data Preparation and Transformation

### Importing files as dataframes

In [2]:
match_awards = pd.read_csv("../output/csv/match_awards.csv")
match_results = pd.read_csv("""../output/csv/match_results.csv""")
scores = pd.read_csv("""../output/csv/scores.csv""")

### Scores Data Analysis

In [3]:
scores.describe()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
count,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014,1014
unique,189,163,137,24,14,457,9,8,5,54,89,803,500
top,0,-,2,0,0,0.00,1,caught,2,v Australia,Wankhede,29 Jun 2024,Twenty20
freq,65,221,39,236,492,66,435,582,480,120,105,2,304

### Scores Data Cleaning

#### Removing unncessary columns - "Mins"

In [4]:
scores = scores.drop(['Mins'],axis=1).copy()

#### Drop duplicate Rows

In [5]:
scores[scores.duplicated()]

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
559,DNB,-,-,-,-,-,-,1,v England,Durban,19 Sep 2007,T20I # 40
560,50*,40,7,2,125.00,5,not out,1,v South Africa,Durban,20 Sep 2007,T20I # 43
561,8*,5,0,1,160.00,6,not out,1,v Australia,Durban,22 Sep 2007,T20I # 45
562,30*,16,2,1,187.50,6,not out,1,v Pakistan,Johannesburg,24 Sep 2007,T20I # 46
563,DNB,-,-,-,-,-,-,2,v Australia,Brabourne,20 Oct 2007,T20I # 47
...,...,...,...,...,...,...,...,...,...,...,...,...
994,8,13,1,0,61.53,1,caught,1,v Afghanistan,Bridgetown,20 Jun 2024,T20I # 2710
995,23,11,3,1,209.09,1,caught,1,v Bangladesh,North Sound,22 Jun 2024,T20I # 2716
996,92,41,7,8,224.39,1,bowled,1,v Australia,Gros Islet,24 Jun 2024,T20I # 2721
997,57,39,6,2,146.15,1,bowled,1,v England,Providence,27 Jun 2024,T20I # 2724
998,9,5,2,0,180.00,1,caught,1,v South Africa,Bridgetown,29 Jun 2024,T20I # 2729

In [6]:
scores[scores["match_id"] == "T20I # 45"]

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
394,8*,5,0,1,160.00,6,not out,1,v Australia,Durban,22 Sep 2007,T20I # 45
561,8*,5,0,1,160.00,6,not out,1,v Australia,Durban,22 Sep 2007,T20I # 45

In [7]:
scores.drop_duplicates(inplace=True)
scores

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
0,177,301,23,1,58.80,6,lbw,2,v West Indies,Eden Gardens,6 Nov 2013,Test # 2101
1,111*,127,11,3,87.40,6,not out,2,v West Indies,Wankhede,14 Nov 2013,Test # 2102
2,14,42,1,0,33.33,5,caught,1,v South Africa,Johannesburg,18 Dec 2013,Test # 2108
3,6,13,1,0,46.15,5,bowled,3,v South Africa,Johannesburg,18 Dec 2013,Test # 2108
4,0,1,0,0,0.00,5,bowled,1,v South Africa,Durban,26 Dec 2013,Test # 2111
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,7,8,1,0,87.50,2,caught,1,v GT,Wankhede,6 May 2025,Twenty20
1010,5,5,1,0,100.00,2,caught,1,v DC,Wankhede,21 May 2025,Twenty20
1011,24,21,2,1,114.28,2,caught,1,v Punjab Kings,Jaipur,26 May 2025,Twenty20
1012,81,50,9,4,162.00,1,caught,1,v GT,New Chandigarh,30 May 2025,Twenty20
1013,8,7,1,0,114.28,1,caught,1,v Punjab Kings,Ahmedabad,1 Jun 2025,Twenty20

#### Remove matches where he did not play

In [8]:
scores[((scores["Runs"] == "DNB") | (scores["Runs"] == "TDNB"))]

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
31,TDNB,-,-,-,-,-,-,-,v West Indies,Port of Spain,18 Aug 2016,Test # 2218
37,DNB,-,-,-,-,-,-,3,v New Zealand,Indore,8 Oct 2016,Test # 2223
116,DNB,-,-,-,-,-,-,4,v Australia,Brisbane,14 Dec 2024,Test # 2570
119,DNB,-,-,-,-,-,-,2,v Ireland,Belfast,23 Jun 2007,ODI # 2590
154,DNB,-,-,-,-,-,-,2,v New Zealand,Hamilton,11 Mar 2009,ODI # 2824
159,TDNB,-,-,-,-,-,-,-,v West Indies,Gros Islet,5 Jul 2009,ODI # 2855
174,DNB,-,-,-,-,-,-,2,v New Zealand,Chennai,10 Dec 2010,ODI # 3077
196,DNB,-,-,-,-,-,-,1,v Sri Lanka,Mirpur,13 Mar 2012,ODI # 3259
232,TDNB,-,-,-,-,-,-,-,v South Africa,Centurion,11 Dec 2013,ODI # 3444
334,TDNB,-,-,-,-,-,-,-,v West Indies,Providence,8 Aug 2019,ODI # 4196
368,DNB,-,-,-,-,-,-,2,v Sri Lanka,Colombo (RPS),17 Sep 2023,ODI # 4649
392,DNB,-,-,-,-,-,-,1,v England,Durban,19 Sep 2007,T20I # 40
396,DNB,-,-,-,-,-,-,2,v Australia,Brabourne,20 Oct 2007,T20I # 47
408,DNB,-,-,-,-,-,-,1,v Sri Lanka,Gros Islet,11 May 2010,T20I # 173
415,DNB,-,-,-,-,-,-,2,v Australia,Melbourne,3 Feb 2012,T20I # 218
416,DNB,-,-,-,-,-,-,2,v South Africa,Johannesburg,30 Mar 2012,T20I # 242
417,DNB,-,-,-,-,-,-,1,v Sri Lanka,Pallekele,7 Aug 2012,T20I # 255
422,DNB,-,-,-,-,-,-,2,v Pakistan,Colombo (RPS),30 Sep 2012,T20I # 282
480,TDNB,-,-,-,-,-,-,-,v Australia,Melbourne,23 Nov 2018,T20I # 713
568,DNB,-,-,-,-,-,-,2,v MI,DY Patil,27 Apr 2008,Twenty20
632,DNB,-,-,-,-,-,-,2,v RCB,Bengaluru,12 Apr 2011,Twenty20
633,DNB,-,-,-,-,-,-,1,v Kochi,Wankhede,15 Apr 2011,Twenty20
673,DNB,-,-,-,-,-,-,2,v RR,Jaipur,20 May 2012,Twenty20
792,DNB,-,-,-,-,-,-,2,v Kings XI,Indore,20 Apr 2017,Twenty20

In [9]:
scores = scores[~((scores['Runs']=='DNB')|(scores['Runs']=='TDNB'))]
scores.shape

(831, 12)

#### Remove '*' from Runs

In [10]:
scores[scores['Runs'].str.endswith('*')]

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
1,111*,127,11,3,87.40,6,not out,2,v West Indies,Wankhede,14 Nov 2013,Test # 2102
9,31*,97,4,0,31.95,5,not out,4,v New Zealand,Wellington,14 Feb 2014,Test # 2120
33,68*,93,8,0,73.11,6,not out,3,v New Zealand,Kanpur,22 Sep 2016,Test # 2221
36,51*,63,3,2,80.95,6,not out,1,v New Zealand,Indore,8 Oct 2016,Test # 2223
38,102*,160,8,1,63.75,6,not out,2,v Sri Lanka,Nagpur,24 Nov 2017,Test # 2283
...,...,...,...,...,...,...,...,...,...,...,...,...
827,56*,33,6,2,169.69,3,not out,2,v CSK,Pune,28 Apr 2018,Twenty20
829,24*,15,1,2,160.00,5,not out,2,v Kings XI,Indore,4 May 2018,Twenty20
862,55*,48,8,0,114.58,2,not out,2,v KKR,Wankhede,5 May 2019,Twenty20
982,105*,63,11,5,166.66,1,not out,2,v CSK,Wankhede,14 Apr 2024,Twenty20
1005,76*,45,4,6,168.88,2,not out,2,v CSK,Wankhede,20 Apr 2025,Twenty20

In [11]:
scores["Runs"].str[0:-1]

0        17
1       111
2         1
3
4
       ...
1009
1010
1011      2
1012      8
1013
Name: Runs, Length: 831, dtype: object

In [12]:
remove_astx = lambda x: x[:-1] if x.endswith("*") else x

In [13]:
scores.loc[:,'Runs'] = scores['Runs'].apply(remove_astx)
scores

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
0,177,301,23,1,58.80,6,lbw,2,v West Indies,Eden Gardens,6 Nov 2013,Test # 2101
1,111,127,11,3,87.40,6,not out,2,v West Indies,Wankhede,14 Nov 2013,Test # 2102
2,14,42,1,0,33.33,5,caught,1,v South Africa,Johannesburg,18 Dec 2013,Test # 2108
3,6,13,1,0,46.15,5,bowled,3,v South Africa,Johannesburg,18 Dec 2013,Test # 2108
4,0,1,0,0,0.00,5,bowled,1,v South Africa,Durban,26 Dec 2013,Test # 2111
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,7,8,1,0,87.50,2,caught,1,v GT,Wankhede,6 May 2025,Twenty20
1010,5,5,1,0,100.00,2,caught,1,v DC,Wankhede,21 May 2025,Twenty20
1011,24,21,2,1,114.28,2,caught,1,v Punjab Kings,Jaipur,26 May 2025,Twenty20
1012,81,50,9,4,162.00,1,caught,1,v GT,New Chandigarh,30 May 2025,Twenty20
1013,8,7,1,0,114.28,1,caught,1,v Punjab Kings,Ahmedabad,1 Jun 2025,Twenty20

#### Identifying '-' in the dataframe and replacing the values

In [14]:
scores.apply(lambda col: col.astype(str).eq("-").sum())

Runs          0
BF            0
4s            0
6s            0
SR            2
Pos           0
Dismissal     0
Inns          0
Opposition    0
Ground        0
Start Date    0
match_id      0
dtype: int64

In [15]:
scores[scores["SR"]=='-']

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
410,0,0,0,0,-,5,not out,2,v Zimbabwe,Harare,13 Jun 2010,T20I # 183
645,0,0,0,0,-,3,run out,2,v KKR,Wankhede,25 May 2011,Twenty20

In [16]:
scores.loc[:, "SR"] = scores["SR"].replace("-", 0)

#### Checking for other nulls

In [17]:
scores.isna().sum()

Runs          0
BF            0
4s            0
6s            0
SR            0
Pos           0
Dismissal     0
Inns          0
Opposition    0
Ground        0
Start Date    0
match_id      0
dtype: int64

#### Changing datatypes of remaining columns

In [18]:
scores.dtypes

Runs          object
BF            object
4s            object
6s            object
SR            object
Pos           object
Dismissal     object
Inns          object
Opposition    object
Ground        object
Start Date    object
match_id      object
dtype: object

In [19]:
convert_dict = {
    "Runs":"int",
    "4s":"int",
    "6s":"int",
    "SR":"float",
    "Pos":"int",
    "Inns":"int",
}

In [20]:
scores = scores.astype(convert_dict,copy=True)

In [21]:
scores["Start Date"] = pd.to_datetime(scores["Start Date"], format="""%d %b %Y""")

In [22]:
scores

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
0,177,301,23,1,58.80,6,lbw,2,v West Indies,Eden Gardens,2013-11-06,Test # 2101
1,111,127,11,3,87.40,6,not out,2,v West Indies,Wankhede,2013-11-14,Test # 2102
2,14,42,1,0,33.33,5,caught,1,v South Africa,Johannesburg,2013-12-18,Test # 2108
3,6,13,1,0,46.15,5,bowled,3,v South Africa,Johannesburg,2013-12-18,Test # 2108
4,0,1,0,0,0.00,5,bowled,1,v South Africa,Durban,2013-12-26,Test # 2111
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,7,8,1,0,87.50,2,caught,1,v GT,Wankhede,2025-05-06,Twenty20
1010,5,5,1,0,100.00,2,caught,1,v DC,Wankhede,2025-05-21,Twenty20
1011,24,21,2,1,114.28,2,caught,1,v Punjab Kings,Jaipur,2025-05-26,Twenty20
1012,81,50,9,4,162.00,1,caught,1,v GT,New Chandigarh,2025-05-30,Twenty20
1013,8,7,1,0,114.28,1,caught,1,v Punjab Kings,Ahmedabad,2025-06-01,Twenty20

#### Removing 'v' from the Opposition table

In [23]:
scores['Opposition'] = scores['Opposition'].str[2:]

In [24]:
scores

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,match_id
0,177,301,23,1,58.80,6,lbw,2,West Indies,Eden Gardens,2013-11-06,Test # 2101
1,111,127,11,3,87.40,6,not out,2,West Indies,Wankhede,2013-11-14,Test # 2102
2,14,42,1,0,33.33,5,caught,1,South Africa,Johannesburg,2013-12-18,Test # 2108
3,6,13,1,0,46.15,5,bowled,3,South Africa,Johannesburg,2013-12-18,Test # 2108
4,0,1,0,0,0.00,5,bowled,1,South Africa,Durban,2013-12-26,Test # 2111
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,7,8,1,0,87.50,2,caught,1,GT,Wankhede,2025-05-06,Twenty20
1010,5,5,1,0,100.00,2,caught,1,DC,Wankhede,2025-05-21,Twenty20
1011,24,21,2,1,114.28,2,caught,1,Punjab Kings,Jaipur,2025-05-26,Twenty20
1012,81,50,9,4,162.00,1,caught,1,GT,New Chandigarh,2025-05-30,Twenty20
1013,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20

#### Rename columns

In [25]:
renamed_cols = {
    "Runs": "runs",
    "BF": "balls_faced",
    "4s": "fours",
    "6s": "sixes",
    "SR": "strike_rate",
    "Pos": "position_batted",
    "Dismissal": "dismissal_type",
    "Inns": "inning",
    "Opposition": "opposition",
    "Ground": "venue",
    "Start Date": "date",
}

In [26]:
scores = scores.rename(renamed_cols, axis=1, copy=True)

In [27]:
scores

,runs,balls_faced,fours,sixes,strike_rate,position_batted,dismissal_type,inning,opposition,venue,date,match_id
0,177,301,23,1,58.80,6,lbw,2,West Indies,Eden Gardens,2013-11-06,Test # 2101
1,111,127,11,3,87.40,6,not out,2,West Indies,Wankhede,2013-11-14,Test # 2102
2,14,42,1,0,33.33,5,caught,1,South Africa,Johannesburg,2013-12-18,Test # 2108
3,6,13,1,0,46.15,5,bowled,3,South Africa,Johannesburg,2013-12-18,Test # 2108
4,0,1,0,0,0.00,5,bowled,1,South Africa,Durban,2013-12-26,Test # 2111
...,...,...,...,...,...,...,...,...,...,...,...,...
1009,7,8,1,0,87.50,2,caught,1,GT,Wankhede,2025-05-06,Twenty20
1010,5,5,1,0,100.00,2,caught,1,DC,Wankhede,2025-05-21,Twenty20
1011,24,21,2,1,114.28,2,caught,1,Punjab Kings,Jaipur,2025-05-26,Twenty20
1012,81,50,9,4,162.00,1,caught,1,GT,New Chandigarh,2025-05-30,Twenty20
1013,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20

### Merging scores and results table

In [31]:
test = pd.merge(scores,match_results,on="match_id")

In [33]:
test

,runs,balls_faced,fours,sixes,strike_rate,position_batted,dismissal_type,inning,opposition,venue,date_x,match_id,result,date_y
0,177,301,23,1,58.80,6,lbw,2,West Indies,Eden Gardens,2013-11-06,Test # 2101,won,6 Nov 2013
1,111,127,11,3,87.40,6,not out,2,West Indies,Wankhede,2013-11-14,Test # 2102,won,14 Nov 2013
2,14,42,1,0,33.33,5,caught,1,South Africa,Johannesburg,2013-12-18,Test # 2108,draw,18 Dec 2013
3,6,13,1,0,46.15,5,bowled,3,South Africa,Johannesburg,2013-12-18,Test # 2108,draw,18 Dec 2013
4,0,1,0,0,0.00,5,bowled,1,South Africa,Durban,2013-12-26,Test # 2111,lost,26 Dec 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91574,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20,lost,6 May 2025
91575,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20,won,21 May 2025
91576,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20,lost,26 May 2025
91577,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20,won,30 May 2025
91578,8,7,1,0,114.28,1,caught,1,Punjab Kings,Ahmedabad,2025-06-01,Twenty20,lost,1 Jun 2025

In [32]:
test[test["match_id"] == "Test # 2101"]

,runs,balls_faced,fours,sixes,strike_rate,position_batted,dismissal_type,inning,opposition,venue,date_x,match_id,result,date_y
0,177,301,23,1,58.8,6,lbw,2,West Indies,Eden Gardens,2013-11-06,Test # 2101,won,6 Nov 2013